html {
  background: url(images/boardBackground.jpg);
  width: 900px;
  margin: auto;
}

body {
  text-align: center;
  margin: auto;
  width: 600px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 150px;
}

p {
  font-family: "Montserrat";
  text-align: left;
}

h1,
h2 {
  font-family: "Kavivanar";
}

#heading {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  background-color: black;
}

img:hover {
  border: 4px solid black;
}

.textbelowimage {
  line-height: 0.5px;
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
}

img {
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.ChessPieces {
  font-weight: bold;
}

.italicsss {
  font-style: italic;
}

